# Web Framework
fastapi

# ASGI / Production Server
uvicorn
gunicorn

# ORM & Database
sqlalchemy

# Data Validation
pydantic

# Password Hashing
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# Environment Variables
python-dotenv
psycopg2-binary